.custom-navbar {
  background-color: var(--color-arena);
  font-family: 'Cormorant Garamond', serif;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #e0dcd3;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

.nav-link {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-texto-principal);
  transition: color 0.2s ease-in-out;
}

.nav-item{
  transition: all 0.3s ease; /* Transición para fondo, borde y demás */
  border-radius: 5px; /* Bordes redondeados opcionales */
  margin-right: 30px;
}

.nav-item:hover {
  background: var(--color-texto-secundario);
  cursor: pointer;
}

.btn-outline-dark {
  border-color: var(--color-texto-principal);
  color:  var(--color-texto-principal);
}

.btn-outline-dark:hover {
  background-color:  var(--color-texto-principal);
  color: #fff;
}

.login{
    margin: 0 30px;
}

/* Estilo base para ambos */
.nav-item.login .nav-link,
.nav-item.registro .nav-link {
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* Estilo para Login */
.nav-item.login .nav-link {
  background-color: #ffffff;
  color: #1a3c40;
  border: 1px solid #1a3c40;
}

.nav-item.login .nav-link:hover {
  background-color: #1a3c40;
  color: #ffffff;
}

/* Estilo para Registro */
.nav-item.registro .nav-link {
  background-color: var(--color-rosa-pastel);
  color: #1a3c40;
  font-weight: bold;
}

.nav-item.registro .nav-link:hover {
  background-color: #e6b5ae;
  color: #ffffff;
}


/* Estilos responsivos para pantallas menores a 768px */
@media (max-width: 768px) {
  .nav-item{
    margin-right: 0;
  }

  .login,
  .registro {
    width: 100%;
    margin: 8px 0;
  }

  .login .nav-link,
  .registro .nav-link {
    display: block;
    text-align: center;
  }
}
