.galeria-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.galeria-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #2b4b5b;
  margin-bottom: -1rem;
}

.galeria-intro {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.galeria-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.galeria-item.invertido {
  flex-direction: row-reverse;
}

.galeria-img {
  width: 50%;
  height: 350px;
  object-fit: cover; /* Escala la imagen sin deformarla */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.galeria-img:hover {
  transform: scale(1.05);
}

.galeria-texto {
  width: 50%;
}

.galeria-texto h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.galeria-texto p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .galeria-item,
  .galeria-item.invertido {
    flex-direction: column;
  }

  .galeria-img,
  .galeria-texto {
    width: 100%;
  }

  .galeria-img {
    height: 250px;
  }
}

